body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
.first-container{
   background-image: url(./images/donation13.jpg); 
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-area{
    text-align: center;
    color: white;
    padding-top: 200px;
    
}

.link-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.second-container{
    margin-top: 100px;
}
.middle-area{
    text-align: center;
    margin: auto;
    max-width: 70%;
}
.flexiable-area{
    display: flex;
   
    
}
.donate-price{
    padding: 20px 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: #FAFAFA;
    
}
.donate-price-popular{
    color: orangered;
    border: 1px solid red;
    margin: 10px;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #FFEEEE;
}
.payments-area{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
   
}
.input-payment{
    padding: 5px 100px;
    border: none;
    border-bottom: 2px solid gray;
}
.planing-area{
    text-align: center;
    margin: auto;
    max-width: 50%;
}
.cart-aontiner{
    display: flex;
    margin: auto;
    max-width: 90%;
}
.cart{
    border-radius: 5px;
    box-shadow: 5px 5px  20px gray;
    margin: 40px 40px;
    padding: 20px;
}
.cart-1{
  background-color: rgba(79, 157, 166, 0.1)) 
}
.cart-2{
    background-color: rgba(255, 89, 89, 0.1)  ;   
  }
.cart-3{
    background-color: #f6ebdc ;   
  }
.half-width{
    width: 70%;
   
  }
 .contributing-area{
    display: flex;
    margin: auto;
    max-width: 85%;
    padding: 50px 0px;
  }
  .contributing-area-img{
    height: 350px;
    width: 100%;
  }
  .half-width-text{
    margin-left: 50px;
  }
  .updating-area{
    margin: auto;
    max-width: 50%;
    text-align: center;
  }
  .messaging-box{
    background-color: #FFF4D6;
    height: 70px;
    padding-top: 50px;
  }
  .messaging-box input{
    border: none;
    padding: 10px 70px;
    border-radius: 5px;
  }
  .footer-area{
    text-align:center ;
    background-color: rgb(32, 23, 23);
    color: tomato;
    padding: 40px;
    margin-top: 30px;
  }
  .footer-area h2{
    font-family: 'Lobster', cursive;

  }
  .footer-area p{
    color: white;
  }